https://localhost:443 {
    tls docker/nginx/certs/localhost.crt docker/nginx/certs/localhost.key
    reverse_proxy 127.0.0.1:8000
}

https://192.168.1.246:443 {
    tls docker/nginx/certs/localhost.crt docker/nginx/certs/localhost.key
    reverse_proxy 127.0.0.1:8000
}
